<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer Service</title>
</head>
<body>
    <form action="/button-clicked" method="post">
        <center><button type="submit", name="action", value="FileDialogButton", ><b>Transfer File</b></button></center>
    </form>
    <center><h1>Success!</h1></center>
    <center><a href="../">Click Here To Go Back To Main Page</a></center>
</body>
</html>